*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(73, 78, 83);
}

h1{
    text-align: center;
    margin: 20px;
    border: #000 2px solid;
    background-color: #fff;
    border-radius: 5px;
}

.Clases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: calc(100% / 3);
    margin: 20px 20%;
}

.Clases > a > button{
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    transition: all 0.5s;
    background-color: #fff;
}
.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0% 20%;
    border: #000 2px solid;
    border-radius: 5px;
}
.Info > p{
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
}
.Info > p > a{
    background-color: #fff;
}

#Titulo{
    font-size: 2em;
    text-decoration: underline;
}
